
<!-- new post area -->
<% if user_signed_in? %>
  <%= render "form", secret: @secret %>
<% end %>

<!-- creates a nice format for each post -->
<% @secrets.each do |secret| %>

    <div class="post">
      <div class="toprow">  
      <div id="img"> </div>
        <div class="titles">
          <h1><%= link_to secret.title, secret %></h1>
          <p>username</p>
        </div>
      </div>
      <div>
        <p class="post-body">
          <%= secret.body %>
        </p>
      </div>
      <div class="buttons">
        <p class="button">
          edit
        </p>
        <p class="button">
          delete
        </p>
      </div>
    </div>
<% end %>   

