<h1><%= @secret.title %></h1>

<p><%= @secret.body %></p>

<ul>
  <li><%= link_to "Edit", edit_secret_path(@secret) %></li>
  <li><%= link_to "Destroy", secret_path(@secret),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>